@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Spaceship";
}

<div class="text-center">
    <h1 class="text-danger">Spaceships</h1>
</div>
<div class="container">
    <div>
        <table class="border-1 border-success border">
            <tr>
                <th>Ship 1</th>
                <th>Ship 2</th>
            </tr>
            <tr>
                <td>Good</td>
                <td>Bad</td>
            </tr>
            <tr>
                <td>Fast</td>
                <td>Slow</td>
            </tr>
            <tr>
                <td>Expensive</td>
                <td>Cheap</td>
            </tr>
        </table>
	</div>
</div>
