@{
    ViewData["Title"] = "AccountLocked";
}

<h1 class="text-danger">Account Locked</h1>
<p>Your account has been locked for too many failed log-in attempts. Please try again later or 
    <a asp-action="ForgotPassword" asp-controller="Accounts">
        reset your password by clicking here.
    </a>
</p>