@model ShopTARge24.Models.Accounts.ForgotPasswordViewModel

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <h1>Forgot Password</h1>
    <div class="form-group row">
        <label class="col-form-label col-2" asp-for="Email">Email</label>
        <div class="form-control col-3">
            <input asp-for="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <input asp-action="ForgotPassword" asp-controller="Accounts" type="submit" class="btn btn-primary col-sm-2 m-2" value="Send Reset Link" />
</form>