@model ShopTARge24.Models.Accounts.ResetPasswordViewModel

<div class="container">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Email" type="hidden" />
        <input asp-for="Token" type="hidden" />
        <div class="form-control">
            <label class="col-form-label">New password</label>
            <input asp-for="NewPassword" required/>
        </div>
        <div class="form-control">
            <label class="col-form-label">Confirm new password</label>
            <input asp-for="ConfirmPassword" required />
        </div>
        <input asp-action="ResetPassword" asp-controller="Accounts" type="submit" class="btn btn-primary col-sm-2 m-2" value="Reset Password" />
    </form>
</div>